body {
  font-size: 0.1867rem;
  color: #333;
}
* {
  margin: 0;
  padding: 0;
}
a,
li,
em,
i,
b,
strong {
  list-style: none;
  color: #333;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
