body {
  font-size: 0.1867rem;
  color: #333;
}
* {
  margin: 0;
  padding: 0;
}
a,
li,
em,
i,
b,
strong {
  list-style: none;
  color: #333;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
@media screen and (min-width: 750px) {
  html,
  body {
    font-size: 75px !important;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 32px !important;
  }
}
body {
  background-color: #f9f9f9;
  margin: 0 auto;
  min-width: 320px;
  max-width: 750px;
}
header {
  padding: 0 0.4rem;
  box-sizing: border-box;
  width: 10rem;
  height: 5.04rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(180deg, #fa4651 0%, #f4804c 100%);
}
header > img {
  position: absolute;
  top: -0.6933rem;
  left: 0.7467rem;
}
header > div {
  display: flex;
  align-items: center;
}
header > div > img {
  height: 1.5733rem;
  width: 1.5733rem;
  margin-right: 0.2267rem;
}
header > div > div {
  display: flex;
  flex-direction: column;
}
header > div > div i {
  font-weight: 600;
  color: #ffffff;
  font-size: 0.4267rem;
}
header > div > div em {
  color: #ffffff;
  font-size: 0.2933rem;
  margin-top: 10px;
}
header > span {
  display: flex;
  transform: translateY(-0.6667rem);
}
header > span img {
  width: 0.4267rem;
  height: 0.4267rem;
  margin-right: 0.4133rem;
}
header > span img:nth-child(2) {
  margin-right: 0;
}
main {
  padding: 0 0.4133rem;
  box-sizing: border-box;
  transform: translateY(-0.7867rem);
}
main .section1 {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 99;
}
main .section1 img {
  width: 9.1733rem;
  height: 2.1333rem;
}
main .section2 {
  transform: translateY(-0.12rem);
}
main .section2 ul {
  width: 9.1733rem;
  height: 2.6667rem;
  background-color: #ffffff;
  border-radius: 0.2667rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .section2 ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section2 ul li a img {
  width: 0.64rem;
  height: 0.64rem;
}
main .section2 ul li a span {
  font-weight: 700;
  color: #494955;
  font-size: 0.32rem;
  margin-top: 0.1067rem;
}
main .section3 {
  margin-top: 0.1467rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9.1733rem;
  height: 2.6667rem;
  background-color: #ffffff;
  border-radius: 0.2667rem;
}
main .section3 ul {
  margin-top: 0.4533rem;
  width: 100%;
  border-radius: 0.2667rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .section3 ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section3 ul li a img {
  width: 0.9333rem;
}
main .section3 ul li a span {
  font-weight: 700;
  color: #494955;
  font-size: 0.32rem;
  margin-top: 0.16rem;
}
main .section3 > span {
  width: 0.8rem;
  height: 0.0533rem;
  background-color: #e0e0e0;
  border-radius: 0.2667rem;
  display: flex;
  margin-top: 0.3467rem;
}
main .section3 > span em {
  width: 0.4267rem;
  height: 0.0533rem;
  background-color: #989898;
  border-radius: 0.2667rem 0px 0px 0.2667rem;
}
main .section4 {
  margin-top: 20px;
  height: 3.2rem;
  background-color: #ffffff;
  border-radius: 0.2667rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.2933rem 0.52rem 0.4rem;
  box-sizing: border-box;
}
main .section4 > span {
  font-weight: 600;
  color: #202020;
  font-size: 0.3733rem;
  line-height: 0.5333rem;
}
main .section4 > img {
  width: 8.1333rem;
}
main .ulink p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7467rem;
}
main .ulink p span {
  font-weight: 600;
  color: #262626;
  font-size: 0.48rem;
}
main .ulink p img {
  width: 0.6rem;
  margin-right: 0.1467rem;
}
main .ulink > ul {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  margin-top: 0.32rem;
}
main .ulink > ul::-webkit-scrollbar {
  display: none;
}
main .ulink > ul li {
  display: flex;
  align-items: center;
  padding: 0 0.48rem;
  box-sizing: border-box;
  position: relative;
}
main .ulink > ul li::after {
  content: "";
  width: 0.0267rem;
  height: 0.2667rem;
  background-color: #e9e9e9;
  position: absolute;
  right: 0.0267rem;
}
main .ulink > ul li a {
  color: #6a6c6b;
  font-size: 0.3733rem;
}
