body {
  font-size: 0.1867rem;
  color: #333;
}
* {
  margin: 0;
  padding: 0;
}
a,
li,
em,
i,
b,
strong {
  list-style: none;
  color: #333;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}
@media screen and (min-width: 750px) {
  html,
  body {
    font-size: 75px !important;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 32px !important;
  }
}
body {
  color: #f9f9f9;
  margin: 0 auto;
  min-width: 320px;
  max-width: 750px;
}
body,
html {
  height: 100%;
}
header {
  background-image: linear-gradient(180deg, #f24c59 0%, #f28c4c 100%);
  overflow: hidden;
  padding: 0 0.4267rem;
  box-sizing: border-box;
  height: 2.48rem;
}
header .search {
  margin-top: 1.0267rem;
  display: flex;
  align-items: center;
  padding: 0 0.4267rem;
}
header .search div:nth-child(1) {
  display: flex;
  align-items: center;
  width: 7.9467rem;
  height: 0.8533rem;
  background-color: #fff;
  border-radius: 0.4267rem;
}
header .search div:nth-child(1) span {
  width: 0.3733rem;
  height: 0.3733rem;
  margin-left: 0.64rem;
  background: url(../res/首页/png/1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
}
header .search div:nth-child(1) input {
  border: none;
  outline: none;
  margin-left: 0.2133rem;
  font-size: 0.3733rem;
  width: 3.7067rem;
  height: 0.5333rem;
}
header .search div:nth-child(1) input::placeholder {
  color: #b0b8c2;
}
header .search div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.4rem;
}
header .search div:nth-child(2) img {
  width: 0.4267rem;
  height: 0.4267rem;
}
header .search div:nth-child(2) span {
  color: #ffffff;
  font-size: 0.24rem;
  display: block;
  white-space: nowrap ;
}
main {
  position: relative;
  width: 10rem;
  height: calc(100% - 2.48rem - 1.4133rem);
  overflow: hidden;
}
main ul.nav {
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  background-color: #f6f7fb;
  box-sizing: border-box;
  padding-top: 0.5333rem;
  left: 0;
  top: 0;
  width: 2.7733rem;
}
main ul.nav::-webkit-scrollbar {
  display: none;
}
main ul.nav li {
  position: relative;
  width: 2.7733rem;
  height: 1.28rem;
  color: #6a6c6b;
  font-size: 0.4267rem;
  line-height: 1.28rem;
  text-align: center;
}
main ul.nav li.active {
  font-weight: 700;
  background-color: #fff;
  color: #06121e;
}
main ul.nav li.active::before {
  content: "";
  display: block;
  width: 0.1333rem;
  height: 0.3733rem;
  background-color: #ff6200;
  border-radius: 0.08rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.2667rem;
}
main ul.nav li.active span {
  position: absolute;
  right: 0;
  top: -0.24rem;
  width: 0.2667rem;
  height: 0.2667rem;
  background: url(../res/分类/png/up.png) no-repeat;
  background-size: cover;
}
main ul.nav li.active::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -0.24rem;
  width: 0.2667rem;
  height: 0.2667rem;
  background: url(../res/分类/png/down.png) no-repeat;
  background-size: cover;
}
main div.shops {
  height: 100%;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 2.7733rem);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.9333rem;
  box-sizing: border-box;
  justify-content: space-between;
}
main div.shops::-webkit-scrollbar {
  display: none;
}
main div.shops a {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main div.shops a img {
  width: 1.6rem;
}
main div.shops a span {
  color: #3c434d;
  font-size: 0.2667rem;
}
.tabbar {
  width: 10rem;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0.0667rem 0.12rem 0.56rem rgba(6, 0, 1, 0.14);
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
}
.tabbar ul {
  height: 1.4133rem;
  display: flex;
  justify-content: space-around;
}
.tabbar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabbar ul li img {
  width: 0.5467rem;
  height: 0.52rem;
  margin-top: 0.2667rem;
}
.tabbar ul li span {
  color: #707070;
  font-size: 0.2667rem;
  margin-top: 0.1467rem;
}
